.photos-btn-wrap {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.photos-btn {
	font-size: 16px;
	color: #333;
	margin-bottom: -4px;
	padding: 5px 8px 3px;
	text-decoration: none;
}
.photos-btn:hover {
	color: #08c;
}
.photos-btn.active {
	color: #08c;
	border: 1px solid #e5e5e5;
	border-bottom: 5px solid #fff;
}
